{% from "menu.html" import menu, left with context %}
{% import "macro.html" as macros %}
<!DOCTYPE html>
<html>
    <head lang="ko">
        {% block head %}
        <title>SJ Video Assistant</title>
        {% endblock %}
        <meta name="google" value="notranslate">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!--<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>-->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-notify.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom8.js') }}"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"></script>
        <!-- 토글 -->
        <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
        <!-- end 토글 -->
        <script type="text/javascript">
          $(document).ready(function(){
            var protocol = window.location.protocol;
            var socket = io.connect(protocol + "//" + document.domain + ":" + location.port + "/framework");
            //var socket = io.connect("http://" + document.domain + ":" + location.port + "/framework", {transports:['websocket']},  {'force new connection': true});
            socket.on('notify', function(data){
              $.notify({
                message : data['msg'],
                url: data['url'],
                target: '_self'
              },{
                type: data['type'],
              });
            });
          });
        </script>          
        <!--
             <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>          
          .fixed-top-2 { margin-top: 56px; }
          .sticky-offset { top: 1000px; }
          .fixed-top-2 { margin-top: 0px; }          
        -->
        <style type="text/css">
          body { padding-top: 56px; font-size: .850rem; }
          .table>tbody>tr.collapse>td { background-color:#ecf3f8; }
          .tableRowHover tbody tr:not(.tableRowHoverOff):hover td {
            background-color: #ffff00;
            transition: all 0.01s ease-in-out;
          }
          .loading { position: fixed; left: 45%; top: 50%; background: #ffffff; }
          .table > tbody > tr > td { vertical-align: middle; }
          
          .tab-pane {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            border-radius: 0px 0px 5px 5px;
            padding: 10px;
          }
          .btn-toolbar { text-align: center; }​
          .nav-tabs { margin-bottom: 0; }
          .navbar-nav li:hover>.dropdown-menu { display: block; }
          .dropdown-toggle::after { display:none; }
          .set-left  { text-align: left; }
          @media (min-width: 768px) {
  .set-left  { text-align: right; }
}


        </style>
        <!--
          .row>div { padding-top: 10px; padding-bottom:10px; }
          .row { align-items: center;}
          .row>div:nth-child(odd) { align-items: right; text-align: right; }
          .row>div:nth-child(even) { align-items: left; text-align: left; }
        -->
        <script type="text/javascript" language="javascript">
          $(document).ready(function(){
            $('#loading').hide();
            $('#modal_loading').hide();
          })
          .ajaxStart(function(){
            $('#loading').show();
            $('#modal_loading').show();
          })
          .ajaxStop(function(){
            $('#loading').hide();
            $('#modal_loading').hide();
          });
          
        </script> 
    </head>
    <body class="body ">
      <!-- Modal -->
      <div class="modal fade" id="large_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="modal_title"></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="modal_body" style="word-break:break-all;">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
              <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="normal_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="normal_modal_title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body" id="normal_modal_body" style="word-break:break-all;">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
              </div>
            </div>
          </div>
        </div>
      <!-- Modal end -->

      
      {{ menu() }}
      
      <!--<nav class="navbar " role="navigation"> width가 메뉴만큼-->
        {{ left() }}
      <!--</nav>-->
      <main role="main" class="container">
        <div class="d-inline-block"></div>
        <div>
          {% block content %}{% endblock %}
        </div>
      </main>
      <div class="loading" id="loading">
        <img src="/static/img/loading.gif" />
      </div>
    </body>
</html>

<script type="text/javascript">
function m_row_start(padding='10', align='center') {
  var str = '<div class="row" style="padding-top: '+padding+'px; padding-bottom:'+padding+'px; align-items:'+align+';">';
  return str;
}
function m_row_start_top(padding='10') {
  return m_row_start(padding, 'top');
}

function m_row_end() {
  var str = '</div>';
  return str;
}

//border
function m_col(w, h, align='left') {
  var str = '<div class="col-sm-' + w + ' " style="text-align: '+align+'; word-break:break-all;">';
  str += h
  str += '</div>';
  return str
}


function m_button_group(h) {
  var str = '<div class="btn-group btn-group-sm flex-wrap mr-2" role="group">';
  str += h
  str += '</div>';
  return str;
}

function m_button(id, text, data) {
  var str = '<button id="'+id+'" name="'+id+'" class="btn btn-sm btn-outline-success" '
  for ( i in data) {
    str += ' data-' + data[i].key + '="' + data[i].value+ '" '
  }
  str += '>' + text + '</button>';
  return str;
}

function m_hr(margin='5') {
  var str = '<hr style="width: 100%; margin:'+margin+'px;" />';
  return str;
}


function m_hr_black() {
  var str = '<hr style="width: 100%; color: black; height: 2px; background-color:black;" />';
  return str;
}
// 체크박스는 자바로 하면 on/off 스크립트가 안먹힘.


function m_modal(data='EMPTY', title='JSON') {
  document.getElementById("modal_title").innerHTML = title;
  document.getElementById("modal_body").innerHTML = "<pre>"+JSON.stringify(data, null, 2) + "</pre>";
  $("#large_modal").modal();
}

function m_tab_head(name, active) {
  if (active) {
    var str = '<a class="nav-item nav-link active" id="id_'+name+'" data-toggle="tab" href="#'+name+'" role="tab">'+name+'</a>';
  } else {
    var str = '<a class="nav-item nav-link" id="id_'+name+'" data-toggle="tab" href="#'+name+'" role="tab">'+name+'</a>';
  }
  return str;
}

function m_tab_content(name, content, active) {
  if (active) {
    var str = '<div class="tab-pane fade show active" id="'+name+'" role="tabpanel" >';
  } else {
    var str = '<div class="tab-pane fade show" id="'+name+'" role="tabpanel" >';
  }
  str += content;
  str += '</div>'
  return str;
}


</script>