{% extends "base.html" %}
{% block content %}
<div id="iframe" class="embed-responsive embed-responsive-16by9">
    <iframe src="/flaskfilemanager/index.html" >
    </iframe>
  </div>
<div class='col-sm-12'>

  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      function ResizeTextArea() {
        ClientHeight = window.innerHeight
        $("#iframe").height(ClientHeight-150);
      }
      $(window).resize(function() {
        ResizeTextArea();
      });
      ResizeTextArea()
    })
  </script>  
{% endblock %}