{% extends "base.html" %}
{% block content %}

<style type="text/css">
  legend {
  border: 1;
}
</style>


      
<input type="checkbox" class="warning">
      <input id="toggle-trigger" type="checkbox" checked data-toggle="toggle">
      <button class="btn btn-success" onclick="toggleOn()">On by API</button>
  <button class="btn btn-danger" onclick="toggleOff()">Off by API</button>
  <button class="btn btn-primary" onclick="getValue()">Get Value</button>
  <script>
    //If you want to change it dynamically
    function toggleOn() {
      $('#toggle-trigger').bootstrapToggle('on')
    }
    function toggleOff() {
      $('#toggle-trigger').bootstrapToggle('off')  
    }
    //if you want get value
    function getValue()
    {
     var value=$('#toggle-trigger').bootstrapToggle().prop('checked');
     console.log(value);
    }
  </script>











<nav>
  <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">상태</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">설정</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">로</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  









  
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    

    <div>
      <fieldset>
        <legend>기본설정</legend>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">다운로드 폴더</span>
            </div>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">다운로드 폴더 감시 방법</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">스케쥴링</option>
              <option value="2">Watchdog</option>
            </select>
          </div>
        
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01" width=200>스케쥴링 주기</label>
              </div>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
  
            <legend>파일명 변경</legend>

            <div class="input-group mb-3">
                
                
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>




        <div class="container py-3 mt-3">
            
            <div class="row inline">
                <h6><code>.text-right</code> works on `inline` elements</h6>
                <div class="col-12 text-left">
                    <button class="btn btn-outline-primary">.text-right (on parent div)</button>
                </div>
            </div>

            <div class="row">
              <div class="col-lg-3 float-md-right bg-dark">다운로드 폴더</div>
              <div class="col-lg-6 ">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">	
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-3 float-right">폴더 감시 모듈</div>
                <div class="col-lg-6">
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">	
              </div>
              <div class="row">
                  <div class="col-lg-3">안녕하세요</div>
                  <div class="col-lg-6">
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">	
                </div>

                
      
          </div>

         



          <div class="row">	
            <h2 class="col-sm-6">안녕1하세요</h2>
            <div class="col-sm-6">
              <button class="btn btn-primary pull-right">버튼02</button>	
            </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
 
          <form class="form-inline">
              <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" class="form-control" id="email" placeholder="이메일을 입력하세요">
              </div>
              <div class="form-group">
                <label for="pwd">패스워드</label>
                <input type="password" class="form-control" id="pwd" placeholder="패스워드를 입력하세요">
              </div>
              <div class="checkbox">
                <label><input type="checkbox"> 로그인 유지</label>
              </div>
              <button type="submit" class="btn btn-default">로그인</button>
            </form>























  </div>






















  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    



































  </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
  $("#form").submit(function(e) {
    var search_word = $("#search").val();
    if(typeof(EventSource)!=="undefined") {
      var source=new EventSource("/api/search?keyword=" + search_word);
      document.getElementById("list").innerHTML = "";
      source.onmessage=function(event) {
        if (event.data == -1) source.close();
        else {
          var data = JSON.parse(event.data);
          for (var i = 0 ; i < data.list.length; i++) {
            str = '<tr style="cursor: pointer;" class="clickable" data-toggle="collapse" data-target="#collapse_' + data.list[i].b_id + '_' + data.list[i].id + '" aria-hidden="true" data-id=' + data.list[i].id  + ' data-b_id=' + data.list[i].b_id +'>';
            str += '<td scope="col">'+ data.list[i].indexer + '</td>';
            str += '<td scope="col">'+ data.list[i].kor_title + '</td>';
            str += '<td scope="col">'+ data.list[i].num + '</td>';
            str += '<td scope="col">'+ data.list[i].title + '</td>';
            str += '<td scope="col">'+ data.list[i].date + '</td>';
            str += '</tr>'
            document.getElementById("list").innerHTML += str;
          }
        }
      };
    }
    e.preventDefault();
  });
});

$(document).ready(function() {
  $('#result_table').on('click', function(e) {
    e.preventDefault();
    //btn : td, row:tr
    var $btn = $(e.target), $row = $btn.closest('tr'), $nextRow = $row.next('tr.expand-child');
    if ($nextRow.length) {
      $nextRow.toggle();
    } else {
      if ($row.data('id') != null) {
        $.ajax({
          url: '/api/torrent_detail',
          type: "POST",
          cache: false,
          data:{ indexer:'tm', b_id: $row.data('b_id'), id:$row.data('id') },
          dataType: "json",
          success: function (parentsData) {
            console.log(parentsData);
              var newRow = '<tr style="cursor: pointer;" class="clickable expand-child tableRowHoverOff" id="collapse_' + $row.data('b_id') + '_' + $row.data('id') + '">' +
                '<td colspan="1"></td><td colspan="5">' +
                '<table class="table table-condensed table-bordered" width=100% >' +
                '<thead class="thead-dark">' +
                '<tr>' +
                '<th width=10%>no</th>' +
                '<th width=70%>파일명</th>' +
                '<th width=10%>Size</th>' +
                '<th width=10%>다운로드</th>' +
                '</tr>' +
                '</thead>' +
                '<tbody>';
              
              if (parentsData.data) {
                $.each(parentsData.data, function(i, parent) {
                  rowspan = (parent.filelist.length == 0) ? 1 : 3;
                  newRow += '<tr class="tableRowHoverOff">'
                  newRow += '<tr class="tableRowHoverOff">'
                  newRow += '<td rowspan=' + rowspan + '>' + (parent.index+1) + '</td>';
                  newRow += '<td>' + parent.title  + '</td>';
                  newRow += '<td>' + parent.size + '</td>';
                  newRow += '<td rowspan=' + rowspan + '>' + '<button type="button" class="btn btn-info btn-sm">다운로드</button></td></tr>';

                  if (rowspan == 3) {
                    newRow += '<tr class="tableRowHoverOff"><td>' + parent.magnet_url  + '</td><td></td></tr>';
                    newRow += '<tr class="tableRowHoverOff"><td>';
                    for (var i = 0 ; i < parent.filelist.length; i++) {
                      if ( i != 0 ) newRow += '<br>'
                      newRow += parent.filelist[i].filename
                    }
                    newRow += '</td><td>';
                    for (var i = 0 ; i < parent.filelist.length; i++) {
                      if ( i != 0 ) newRow += '<br>'
                      newRow += parent.filelist[i].size;
                    }
                    newRow += '</td></tr>';
                  }
                  
                  
                });
              }
              newRow += '</tbody></table></td><td colspan="1"></td></tr>';
              // set next row
              $nextRow = $(newRow).insertAfter($row);
          }
        });
      }
    }
  })});

/*
$(document).ready(function() {
  $("#form").submit(function(e) {
    var search_word = $("#search").val();
    var qurl="/api/search";
    $.ajax({
      type: "POST",
      cache: false,
      data:{keyword:search_word},
      url: qurl,
      dataType: "json",
      beforeSend: function() {
        //alert('inside ajax');
      },
      success: function(data) { 
        $('#list').html('');
        var str = '';
        for (var i = 0 ; i < data.list.length; i++) {
          str = '<tr>'
          str += '<td scope="col">'+ data.list[i].num + '</td>';
          str += '<td scope="col">'+ data.list[i].title + '</td>';
          str += '<td scope="col">'+ data.list[i].date + '</td>';
          str += '</tr>'
          $('#list').append(str);
        }
      },
      error: function(jqXHR) {
        alert("error: " + jqXHR.status);
        console.log(jqXHR);
      },
      complete:function(jqXHR, textStatus) {
        //alert('completed with either success or fail');
      }
    })
    e.preventDefault();
  });
});
*/
</script>    
{% endblock %}