{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
<!--
  function testInnerHTML(){
    var str = "";
    str +=  "<tr>";
    str +=  "<td colspan=7>";
    str +=  "HTML 태그를 삽입할 수 있습니다.";
    str +=  "</td>";
    str +=  "</tr>";
    document.getElementById("inHere").innerHTML = str;
  }
-->
</script>
  <ul class="nav nav-tabs nav-justified settings-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  <div class="">
      
    {% if action == 'list' %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">NO</th>
          <th scope="col">Logo</th>
          <th scope="col">Channel</th>
          <th scope="col">Group</th>
          <th scope="col">Type</th>
          <th scope="col">View</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
      {% for key, item in list.items() %}
        <tr>
          <th scoper="row">{{loop.index}}</th>
          {% if item['tvg-logo'] != '' %}
          <td><img src="{{ item['tvg-logo'] }}" class="img-responsive " height="35" width="70"></td>
          {% else %}
          <td></td>
          {% endif %}
          <td>{{ item.name }}</td>
          <td>{{ item['group-title'] }}</td>
          {% if item.radio == None %}
          <td>TV</td>
          {% else %}
          <td>Radio</td>
          {% endif %}
          <!--<td><a class="btn btn-info btn-sm" href="javascript:testInnerHTML();" role="button" target="_blank">View</a></td>-->
          <!--<td><a class="btn btn-info btn-sm" href="/klive/view?url={{ item.url | replace('&', '~') }}&name={{item.name}}" role="button" target="_blank">View</a></td>-->
          {% if item['group-title'] in ['KBS', 'MBC', 'SBS', 'TVING', 'OKSUSU', 'RADIO1', 'OKSUSU RADIO', 'OLLEH RADIO'] and (item['group-title'] == 'TVING' and item['name'].startswith('CH') ) == false %}
          <td><a class="btn btn-info btn-sm" href="/klive/view?url={{ item.url }}&name={{item.name}}" role="button" target="_blank">View</a></td>
          {% else %}
          <td></td>
          {% endif %}
          <td><a class="btn btn-info btn-sm" href="/klive/link?url={{ item.url | replace('&', '~') }}&name={{item.name}}" role="button">Link</a></td>
        </tr>
        <!--<div id="inHere"></div>-->
      {% endfor %}
      </tbody>
    </table>
    {% elif action == 'status' %}
    <table class="table table-striped">
        <tbody>
          <tr>
            <td>
              <a class="btn btn-primary disabled" href="/tools/hdhomerun?action=setting" role="button">Run</a>
              <a class="btn btn-primary" href="#" role="button">Stop</a>
              <a class="btn btn-primary" href="#" role="button">스케쥴링 바로 실행</a>
            </td>
          </tr>
        </tbody>
      <table>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">URL</th>
          <th scope="col">Desc</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scoper="row">M3U (custom)</th>
          <td><a href="http://{{bind_addr}}:{{bind_port}}/klive/m3u" target="_blank">http://{{bind_addr}}:{{bind_port}}/klive/m3u</a></td>
          <td>커스텀 채널 목록<br>비디오 앱에서 네트워크 스트림 열기에 이 주소를 입력</td>
        </tr>
        <tr>
            <th scoper="row">M3U (all)</th>
            <td><a href="http://{{bind_addr}}:{{bind_port}}/klive/m3uall" target="_blank">http://{{bind_addr}}:{{bind_port}}/klive/m3uall</a></td>
            <td>Play 가능한 전체 채널 목록<br>비디오 앱에서 네트워크 스트림 열기에 이 주소를 입력</td>
        </tr>
        <tr>
            <th scoper="row">EPG</th>
            <td><a href="http://{{bind_addr}}:{{bind_port}}/klive/epg" target="_blank">http://{{bind_addr}}:{{bind_port}}/klive/epg</a></td>
            <td>EPG<br>LiveChannels App에 등록하는 URL</td>
        </tr>
        <tr>
            <th scoper="row">M3U (pipe)</th>
            <td><a href="http://{{bind_addr}}:{{bind_port}}/klive/m3upipe" target="_blank">http://{{bind_addr}}:{{bind_port}}/klive/m3upipe</a></td>
            <td>Tvheadend 연동시 사용하는 커스텀 채널 목록</td>
        </tr>
      </tbody>
      </table>
    {% elif action == 'setting'%}
    <SCRIPT TYPE="TEXT/JAVASCRIPT">
      //<![CDATA[
      function fileUpload(fis) {
      var str = fis.value;
      alert("파일네임: "+ fis.value.substring(str.lastIndexOf("\\")+1));
      }
      //]]>
      </SCRIPT> 
      
     
    <li>VLC 경로</li>
    <a href="rtp://192.168.0.11:9998">aaaa</a>
    <OBJECT classid="clsid:9BE31822-FDAD-461B-AD51BE1D1C159921" codebase="http://download.videolan.org/pub/videolan/vlc/2.2.4/win32/vlc-2.2.4-win32.exe " width="100%" height="100%" id="vlc" events="True">
      <embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org " name="vlc" />
      <param name="Src" value="rtp://192.168.0.11:9998" />
      <param name="autostart" value="true" />
      <param name="ShowDisplay" value="false" />
      <param name="AutoLoop" value="false" />
      <param name="AutoPlay" value="true" />
      <OBJECT>
          <input type="file" onchange="fileUpload(this)">
    {% endif %}
  </div>
{% endblock %}