{% extends "base.html" %}
{% block content %}

<script type="text/javascript">
$(document).ready(function() {
    $("#nav li a").click(function() {
         $("#ajax-content").empty().append("<div id='loading'><img src='images/loading.gif' alt='Loading' /></div>");
        $("#nav li a").removeClass('current');
        $(this).addClass('current');
 
        $.ajax({ url: this.href, success: function(html) {
            $("#ajax-content").empty().append(html);
            }
    });
    return false;
    });
});
</script>

<ul class="nav nav-tabs bg-light ">
        <li class="nav-item"><a class="nav-link" href="#web">웹 설정</a></li>
      
    
      
        <li class="nav-item"><a class="nav-link" href="/system/status">상태</a></li>
      
    
      
        <li class="nav-item"><a class="nav-link" href="/system/updates">업데이트</a></li>
      
    
      
        <li class="nav-item"><a class="nav-link" href="/system/tasks">Tasks</a></li>
      
    
      
        <li class="nav-item"><a class="nav-link active" href="/system/logs">로그</a></li>
      
    
    </ul>


    <ul id="nav">
            <li><a href="page_1.html">Page 1</a></li>
            <li><a href="page_2.html">Page 2</a></li>
            <li><a href="page_3.html">Page 3</a></li>
          </ul>
           
          <div id="ajax-content">This is default text, which will be replaced</div>

{% endblock %}